/* 레이아웃 */
body {  }
#header {}
#nav {background-color: #f6fdff;}
#title {background-color: #eaf7fd;} 

#contents .login { padding-left: 150px !important; margin-top: 300px; }
#contents .login_01 {font-size: 20px; }
#contents .login_02 {font-size: 20px; padding-top: 10px; }
#contents .login_03 {font-size: 18px; padding-bottom: 10px; }
#contents .login2 { padding-left: 150px;  }
#contents .login2 button { display:block;}
#contents .container {border-right: 1px solid #dbdbdb; border-left: 1px solid #dbdbdb;}

/* 본문 내용*/
#cont_left {float: left; width: 250px;}
#cont_center {
	    overflow: hidden; min-height: 800px; 
	    /*border-right: 1px solid #dbdbdb;*/
	    border-left: 1px solid #dbdbdb;
	}
#cont_center h1 { font-size: 20px; padding: 10px; }
/*#cont_right {position: absolute; right: 0; top: 0; width: 250px;}*/
#footer {border-top: 1px solid #dbdbdb;} 

/* 컨테이너 */
.container { position: relative; width: 1200px; margin: 0 auto;  /* background: 	rgba(0,0,0,0.3	)	 */	}

/* 헤더 */
.header {height: 20px;}


/*로그인 영역*/
.column.col0 {}
.column.col0 span #login_name { padding-left:  !important;}

/*동영상 영역*/
.column.col6 {padding: 10px; }
.column .col_tit {font-size: 20px; color: #2f7fa6; padding: 10px; }
.column .col_desc {ont-size: 15px; border-bottom: 1px dashed #dbdbdb; padding: 10px;
					margin-bottom: 15px; color: #878787;line-height: 18px;   }


/* 메뉴 */
.menu_logo {  }

.menu {  }
.menu li {position: relative;}
.menu li a { font-size: 16px;text-transform: uppercase;
		color: #878787;
		border-bottom: 1px solid #dbdbdb;
		padding: 10px; display: block;
		transform: box-shadow 0.34s ease, background 0.34s ease;
 }

 .menu li a i {
		position: absolute; right: 10px; top 15px;
 }

 .menu li a:hover {
		box-shadow: inset 180px 0 0 0 rgba (36,130,174,0.7) ;
		color: #fff;
		background: rgba(36,130,174,0.9);
 }

.video {position: relative; width: 100%; padding-bottom: 56.25%;}
.video iframe {position: absolute; width: 100%; height: 100%;}



/* media query*/
        /* 화면 너비 0 ~ 1220px */
@media (max-width: 1220px){
    .container {width: 100%;}
    .row {padding: 0 15px;}
    #contents .container {border: 0;}

    .title .btn {right: 5px;}
    .square a {width: 24%;}
    .square a:nth-child(5n) {display: none;}
}
/* 화면 너비 0 ~ 1024px */ 
@media (max-width: 	1024px) {
	.square a { width: 32.3333%; }
	.square a:nth-child(5) { display: block; }
	}

/* 화면 너비 0 ~ 960px */ 
@media (max-width: 	960px) {
	#cont_right { position: static;width: 100%;  border-top: 1px}
	#cont_center { margin-right: 0; border-right: 0; }
	.nav > div {float: none; width: 100%; }
	.nav > div:last-child li {width: 100%;}
	.nav > div li { width: 33.3333%; }
	.nav > div li :last-child li {width: 33.3333%;}
	.nav > div ol { margin-bottom: 10px; }

	#cont_right {overflow: hidden;}
    #cont_right .column {float: left; width: 33.3333%; box-sizing: border-box;}
    #cont_right .column.col7 {border-right: 1px solid #dbdbdb; border-bottom: 0;}
    #cont_right .column.col8 {border-right: 1px solid #dbdbdb; border-bottom: 0;}
	}

/* 화면 너비 0 ~ 768px */ 
@media (max-width: 	768px) {
	#cont_left {float: none; width: 100%;  }
	#cont_center { border-right: 0;  }
	}	

/* 화면 너비 0 ~ 600px */ 
@media (max-width: 	600px) {
	.header { height: auto; }
	.header .header_tit {display: none;}
	.header .header_icon {display: none;}
	.title .btn {display: none;}

	.nav > div li {width: 50%;}
	.nav > div li :last-child li {width: 50%;}

	.column.col1 .col_tit {display: none;}
	.column.col1 .col_desc {display: none;}
	.column.col1 .menu li a i  {display: none;}
	.column.col1 { padding: 0; border-bottom: 0; }
	.column.col1 .menu ul { overflow: hidden; }
	.column.col1 .menu li { float: left;width: 33.3333%;
			 border-right: 1px solid #dbdbdb ;  text-align: center; 
			 box-sizing: border-box;}
	.column.col1 .menu li : nth-child(3n) {border-right: 0;}
	.column.col1 .menu li a { color: #fff;  text-shadow: 0 0 5px rgba(0,0,0,0.7);}
	.column.col1 .menu li a:hover {box-shadow: none; background: rgba(36,130,174,0.3);  }
	.column.col2 { background: #fff; }
	.column.col4 { border-top: 1px solid #dbdbdb; }

	#cont_right .column { width: 50%; }
	#cont_right .column.col8 {border-right: 0;}
	#cont_right .column.col9 {display: none;}

	.slider figcaption { padding: 10px; }
	.slider figcaption em { font-size: 18px;}
	.slider figcaption span { font-size: 14px; }

	.square a {  width: 49%; }
	.square a:nth-child(5) { display: none; }
	
	}	


/* 화면 너비 0 ~ 480px */ 
@media (max-width: 	480px) {
	.nav > div li {width: 50%;}
	.nav > div li :last-child li {width: 50%;}
	}		

/* 화면 너비 0 ~ 320px */ 
@media (max-width: 	320px) {
	.nav > div li {width: 100%;}
	.nav > div li :last-child li {width: 100%;}

	#cont_right .column { width: 100%; }
	#cont_right .column.col7 {border-right: 0; border-bottom: 1px solid #dbdbdb;}
	.square a { width: 100%; margin-right: 0;, margin-left: 0;}
	
	}		